@import './base.css';


.flex {
    display: flex !important;
}

.justify-content-space-between {
    justify-content: space-between !important;
}

input::selection {
    color: #d9d9d9;
    background: #0c63e4;
}

/* STICKY */
.sticky-bottom {
    position: sticky;
    bottom: 0 !important;
    z-index: 1030;
}
/* STICKY */

/* BUTTON SPINNER */
.button {
    position: relative;
    cursor: pointer;
}

.button__text {
    transition: all 0.2s;
}

.button--loading .button__text {
    visibility: hidden;
    opacity: 0;
}

.button--loading::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
}

.spinner {
    content: "";
    width: 16px;
    height: 16px;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}
/* BUTTON SPINNER */


/* COLORS */

.text-color-primary {
    color: var(--text-primary) !important;
}

.bg-color-primary {
    background: var(--text-primary) !important;
}

.text-color-warning {
    color: var(--bs-warning) !important;
}

.bg-color-warning {
    background: var(--bs-warning) !important;
}

.text-color-danger {
    color: var(--bs-danger) !important;
}

.bg-color-danger {
    background: var(--bs-danger) !important;
}

/* COLORS */
